<?xml version="1.0" encoding="UTF-8"?>
<opml version="2.0">
    <head>
        <title>Exported from NodeRSSBot</title>
        <dateCreated><%= new Date().toUTCString()%></dateCreated>
        <docs>http://www.opml.org/spec2</docs>
    </head>
    <body>
    <% outlines.forEach(function (outline) { %>
        <outline type="rss" text="<%- outline.feed_title %>" xmlUrl="<%- outline.url %>"/>
    <% }) %>
    </body>
</opml>
