name: Node CI

on:
    push:
        branches: master
    pull_request:
        branches:
            - master

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [14.x, 15.x, 16.x, 17.x]

        steps:
            - uses: actions/checkout@v1
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}
            - name: npm install, build, and test
              run: |
                  npm i -g npm
                  npm cache clean --force
                  npm ci
                  npm run build
                  npm test -- --forceExit #https://github.com/facebook/jest/issues/9982#issuecomment-758110298
              env:
                  CI: true
